<%-include('header')-%>
            <!-- HEADER DESKTOP-->   
            <!-- MAIN CONTENT-->
<div class="main-content">
                <div class="section__content section__content--p30">
                        <a href="/customer/data_display" ><img src="/images/icons/back.png" width="20px" style="margin-left: 20px;margin-top: 20px; margin-bottom: 20px" title="back"alt="back"></a>
                    <div class="container-fluid">
                            <div class="row">
                                    <div  class="table-responsive m-b-40">
                                            <table class="table table-bordered table-data" style="height: 70px;width: 452px; font-size:15px">
                                                    <tr>
                                                        <td>Admin_id</td>
                                                        <td><%=admin_array.Admin_id%></td>
                                                    </tr>
                                                    <tr>    
                                                        <td>Admin Name</td>
                                                        <td><%=admin_array.Admin_name%></td>
                                                    </tr>    
                                                    <tr>
                                                        <td>Contact Number</td>
                                                        <td><%=admin_array.Admin_contact_no%></td>
                                                    </tr>
                                                    <tr>    
                                                        <td>Email</td>
                                                        <td><%=admin_array.Admin_email%></td>
                                                    <tr>    
                                                        <td>Password</td>
                                                        <td><%=admin_array.Admin_password%></td>
                                                    </tr>
                                            </table>
                                        </div>
                            </div>
                    </div>  
                </div>     
            </div>
        </div>
    </div>
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <script src="../../vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/misc.js"></script>
    <script src="../../js/settings.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
  </body>
  
  
  <!-- Mirrored from www.urbanui.com/gleam/pages/tables/basic-table.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Sep 2018 06:27:35 GMT -->
  </html>