<%-include('header')-%>
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title" style="margin-left:200px;padding-top:20px">
          <b>Product Table</b>
        </h3>
        <a href="/product/add_product"><button style=" margin-top: 20px;margin-right: 100px"class="btn btn-rounded btn-fw btn-gradient-primary btn-fw">Add New</button> </a>
        </div>
        <div class="col-lg-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                    <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>Product_id</th>        
                                    <th>Name</th>      
                                    <th>Quantity</th>
                                    <th>Image</th>
                                    <th>Rentprice</th>   
                                    <th>Amount</th>    
                                    <th>Action</th>     
                                </tr>
                            </thead>
                            <% if(product_array.length>0)  { %>
                            <tbody>
                                <%  for(var i=0;i<product_array.length;i++)  { %>
                                <tr>
                                    <td><%=i+1  %></td>
                                    <td><%=product_array[i].Product_id %></td>
                                    <td><%=product_array[i].Pro_name %></td>
                                    <td><%=product_array[i].Pro_quantity %></td>
                                    <td><img src="/Pro_upload/<%=product_array[i].Pro_image %>"> </td>
                                    <td><%=product_array[i].Pro_rentprice %></td>
                                    <td><%=product_array[i].Pro_ammount %></td>
                                    
                                    <td>
                                        <a href="show/<%=product_array[i]._id%>"> <img title="show" src="/images/icons/show.png"> </a>
                                        <a href="edit/<%=product_array[i]._id%>"><img title="edit" src="/images/icons/edit.png"></a>
                                        <a href="delete/<%=product_array[i]._id%>"><img title="delete" src="/images/icons/delete.png"></a>
                                    </td>
                                </tr>
                                <% } %>
                                <%  }   else    {%>
                                    <h2>No Records Found</h2>
                                    <%  }   %>
                            </tbody>
                        </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <script src="../../vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/misc.js"></script>
    <script src="../../js/settings.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
</body>


<!-- Mirrored from www.urbanui.com/gleam/pages/tables/basic-table.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Sep 2018 06:27:35 GMT -->
</html>